__pycache__/
*.pyc
*.pyo
tanner/log/
choc/log/
*.log
.claude/
.venv/
tanner/config.py
choc/config.py
lib/ge_config.py
lib/energy_config.py
lib/digit_templates/
miner/config.py
miner/varrock_exp/config.py
miner/varrock_exp/log/
miner/golden_nuggets/config.py
miner/golden_nuggets/log/
crafting/config.py
crafting/log/
docker/bolt/*.zip
docker/bolt/Bolt-Linux/
/log/
lib/client_templates/
